[submodule "unRAID-Docker-Folder-Animated-Icons---Alternate-Colors"]
	path = unRAID-Docker-Folder-Animated-Icons---Alternate-Colors
	url = https://github.com/hernandito/unRAID-Docker-Folder-Animated-Icons---Alternate-Colors.git
